
#divx
        {
        height: 20em;
        width: 50em;
        }
        
        #m1{
    height: 100%;
        width: 100%;
}
  #m2
  {
    height: 100%;
        width: 100%;
}
  #m3{
    height: 100%;
        width: 100%;
}
#imd1
{
    height: 100%;
        width: 100%
}